mainfest {
  name = "rfam_3d"
  homePage = "https://rfam.org"
  icon = "https://rfam.org/static/images/rfam_logo.svg"
  license = "Apache 2.0"
  description = 'Pipeline that updates Rfam SEED alignments with 3D structures'
  maintainer = "bsweeney@ebi.ac.uk"
  nextflowVersion = ">= 24.04.0"
}

params {
  // A URL that can be fetched with curl that points at where families are. Note
  // that on the cluster `file:///` urls will work and will be much faster than
  // the https ones.
  svn = "https://svn.rfam.org/svn/data_repos/trunk/Families"
}

workflow {
  output {
    // Configure the output to be a copy, not a symlink
    mode = "copy"
  }
}

profiles {
  // The slurm profile is meant to be activated on EBI's slurm cluster.
  slurm {
    // Activate singularity on the cluster. We cannot use docker there because
    // of permission issues.
    singularity {
      enabled = true
      cacheDir = "$launchDir/singularity"
    }

    executor {
      $slurm {
        queueSize = 10000

        // It is possible to hit a rate limit on job submission times,
        // sometimes. This generally removes the issue but sometimes for some
        // pipelines it still happens
        submitRateLimit = '1sec'
      }
    }

    // These are values which seem to work well with the SLURM cluster, but
    // should be revisited should the cluster change.
    process {
      container = 'oras://ghcr.io/rfam/rfam-3d-seed-alignments:latest'
      executor = 'slurm'
      maxForks = 2000
      memory = '4 GB'
      queue = 'standard'
      time = '1h'
    }
  }

  // This is for testing the pipeline locally with the latest docker image
  local {
    process {
      container = 'oras://ghcr.io/rfam/rfam-3d-seed-alignments:latest'
    }

    docker {
      enabled = true
    }
  }
}

env {
  RFAM_3D_CACHE = "${launchDir}/data"
}

process {
  errorStrategy = 'finish'
}

includeConfig('local.config')
